.movie {
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-template-rows: min-content 48px auto;
  grid-template-areas: 'image image'
                       'title movie-btn'
                       'duration duration';
  column-gap: 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.movie__img {
  grid-area: image;
  margin-bottom: 10px;
  width: 100%;
  max-width: 270px;
  height: 151px;
  object-fit: cover;
}

.movie__title {
  grid-area: title;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  margin: 0;
  padding-top: 3px;
  max-height: 35px;
  font-size: 13px;
  line-height: 1.23;
  font-weight: 500;
  overflow: hidden;
}

.movie__save-btn {
  grid-area: movie-btn;
  margin-left: auto;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url('../../images/save-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  cursor: pointer;
  transition: opacity .6s;
}

.movie__save-btn:hover {
  opacity: .5;
}

.movie__save-btn_active {
  background-image: url("../../images/saved-icon.svg");
}

.movie__delete-btn {
  grid-area: movie-btn;
  margin-left: auto;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url("../../images/remove-save-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: opacity .6s;
}

.movie:hover .movie__delete-btn {
  visibility: visible;
  opacity: 1;
}

.movie_delete-btn:hover {
  opacity: .5;
}

.movie__bottom {
  grid-area: duration;
  padding-top: 5px;
  border-top: 1px solid var(--basic-grey);
}

.movie__duration {
  margin: 0;
  display: block;
  width: 100%;
  font-size: 11px;
  line-height: 1.18;
}

@media screen and (max-width: 768px) {
  .movie {
    margin-bottom: 0;
  }

  .movie__img {
    max-width: 339px;
    height: 190px;
  }

  .movie__bottom {
    padding-top: 7px;
  }
}

@media screen and (max-width: 450px) {
  .movie__img {
    margin-bottom: 10px;
    min-width: 100%;
    max-width: 300px;
    max-height: 168px;
  }
}