.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  margin: 75px 0 105px;
  font-size: 24px;
  line-height: 1.21;
  font-weight: 500;
}

.edit-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 410px;
}

.edit-form__line {
  width: 100%;
  height: 1px;
  background-color: var(--basic-grey);
}

.edit-form__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 15px;
  font-size: 11px;
  line-height: 1.18;
  font-weight: 500;
}

/*.edit-form__label:last-of-type {*/
/*  margin-bottom: 210px;*/
/*  padding-top: 12px;*/
/*}*/

.edit-form__input {
  width: 80%;
  height: 15px;
  font-size: 11px;
  line-height: 1.18;
  text-align: right;
  border: none;
  transition: all .6s;
  cursor: pointer;
}

.edit-form__input_with_error {
  border-bottom: 1px solid var(--warn-red);
}

.edit-form__input:hover {
  background-color: var(--basic-grey);
}

.edit-form__input:focus {
  text-align: left;
  outline: none;
  background-color: var(--basic-grey);
}

.edit-form__error-text {
  display: block;
  margin: 2px 0;
  width: 100%;
  min-height: 12px;
  font-size: 10px;
  line-height: 1.2;
  color: var(--warn-red);
}

.edit-form__submit {
  margin-top: 200px;
  font-size: 13px;
  line-height: 1.23;
  background-color: transparent;
  border: none;
  transition: opacity .6s;
  cursor: pointer;
}

.edit-form__submit:hover {
  opacity: .5;
}

.edit-form__submit:disabled {
  color: var(--basic-grey);
  cursor: pointer;
  opacity: 1;
}

.profile__exit {
  color: var(--warn-red);
  font-size: 13px;
  line-height: 1.23;
  background-color: transparent;
  border: none;
  transition: opacity .6s;
  cursor: pointer;
}

.profile__exit:hover {
  opacity: .5;
}

@media screen and (max-width: 768px) {
  .profile {
    margin-bottom: 50px;
  }
  
  .profile__title {
    margin-top: 235px;
    margin-bottom: 80px;
  }

  .edit-form__label:last-of-type {
    margin-bottom: 200px;
  }
}

@media screen and (max-width: 450px) {
  .profile__title {
    margin-top: 70px;
    margin-bottom: 65px;
  }

  .edit-form {
    min-width: 260px;
  }

  .edit-form__label:last-of-type {
    margin-bottom: 365px;
  }

  .edit-form__submit {
    font-size: 12px;
    line-height: 1.25;
  }
}

