.nav-wrapper {
  background-color: transparent;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav__item {
  margin: 0;
  padding: 0;
}

.nav__link {
  font-size: 14px;
  line-height: 1.29;
  color: var(--black);
  text-decoration: none;
  transition: opacity .6s;
}

.nav__link:hover {
  opacity: .5;
}

.nav__link_visible_hamburger {
  display: none;
}

.nav__link_active {
  font-weight: 500;
}

.nav__account-link {
  margin-left: 50px;
  padding: 8px 20px;
  width: 100px;
  height: 32px;
  font-size: 14px;
  line-height: 1.29;
  color: var(--black);
  text-decoration: none;
  text-align: center;
  background-color: var(--elem-bg-grey);
  border-radius: 20px;
  box-sizing: border-box;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    flex-direction: column;
    align-items: center;
    width: 68%;
    height: 100vh;
    background-color: white;
    opacity: 0;
    transition: all .6s;
  }

  .nav-wrapper_visible {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    opacity: 1;
    z-index: 2;
  }

  .nav-wrapper_visible .nav {
    right: 0;
    opacity: 1;
    transition: all .6s;
    z-index: 2;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 160px;
  }

  .nav__link {
    font-size: 18px;
    font-weight: 500;
  }
  

  .nav__link_visible_hamburger {
    display: block;
  }

  .nav__account-link {
    margin-left: 0px;
    margin-top: 621px;
    font-size: 14px;
    line-height: 1.14;
  }

  .nav__link_active {
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: absolute;
    top: 26px;
    right: 39px;
    z-index: 2;
  }

  .hamburger span {
    width: 28px;
    height: 3px;
    background-color: var(--black);
    transition: all .6s;
  }

  .hamburger_opened span:first-of-type {
    transform: rotate(45deg) translate(18px, -4px);
    transition: all .6s;
  }

  .hamburger_opened span:nth-last-of-type(2){
    transform: rotate(135deg) translate(-11px, -11px);
    transition: all .6s;
  }

  .hamburger_opened span:last-of-type {
    display: none;
    opacity: 0;
    transition: all .6s;
  } 
}

@media screen and (max-width: 400px) {
  .nav {
    width: 100%;
  }

  .nav__list {
    margin-top: 145px;
    gap: 22px;
  }

  .nav__account-link {
    margin-top: 443px;
  }

  .hamburger {
    top: 28px;
    right: 23px;
    gap: 6px;
  }

  .hamburger span {
    width: 22px;
  }

  .hamburger_opened span:first-of-type {
    transform: rotate(45deg) translate(3px, -4px);
  }

  .hamburger_opened span:nth-last-of-type(2){
    transform: rotate(135deg) translate(-10px, 3px);
  }
}