.saved-movies {
  padding: 0 70px;
  margin-bottom: 260px;
}

@media screen and (max-width: 768px) {
  .saved-movies {
    margin-bottom: 170px;
    padding: 0 30px;
  }
}

@media screen and (max-width: 620px) {
  .saved-movies {
    margin-bottom: 165px;
    padding: 0 10px;
  }
  
}