.checkbox {
  display: flex;
  align-items: center;
  padding-left: 30px;
  min-height: 40px;
  font-size: 13px;
  line-height: 1.38;
  color: var(--black);
  border-left: 1px solid var(--basic-grey);
}

.checkbox__input {
  display: none;
}

.checkbox__bar {
  position: relative;
  margin-right: 14px;
  width: 36px;
  height: 20px;
  border-radius: 20px;
  background-color: var(--warn-red);
  transition: background-color .6s;
  cursor: pointer;
}

.checkbox__bar_on {
  background-color: var(--green);
  transition: background-color .6s;
}

.checkbox__toggle {
  position: absolute;
  top: 2px;
  width: 16px;
  height: 16px;
  background-color: var(--white);
  border-radius: 50%;
  transition: all .6s;
}

.checkbox__bar:hover .checkbox__toggle_off {
  opacity: .85;
}

.checkbox__toggle_off {
  transform: translateX(2px);
}

.checkbox__toggle_on {
  transform: translateX(115%);
}


@media screen and (max-width: 620px) {
  .checkbox {
    padding: 0;
    margin: 0 auto;
    font-size: 11px;
    line-height: 1.64;
    border-left: none;
  }
}