.register {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 70px;
  margin: 0 auto;
  width: 396px;
}

.register__title {
  margin: 35px 0;
  font-size: 24px;
  line-height: 1.21;
}

.register__form {
  width: 100%;
  transition: all .6s;
}

.reg-form {
  display: flex;
  flex-direction: column;
}

.reg-form__label {
  margin-top: 20px;
  padding-top: 5px;
  font-size: 10px;
  line-height: 1.2;
  color: var(--text-grey);
}

.reg-form__label:first-of-type {
  margin-top: 0;
}

.reg-form__input {  
  padding: 7px 0;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 500;
  color: var(--black);
  border: none;
  border-bottom: 1px solid var(--techs-items-grey);
  transition: border-bottom-color .6s;
}

.reg-form__input::placeholder {
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  color: var(--text-grey);
}

.reg-form__input:focus {
  outline: none;
  border-bottom-color: var(--blue);
}

.reg-form__input_with-error {
  color: var(--warn-red);
  border-bottom-color: var(--warn-red);
}

.reg-form__input-error {
  display: none;
  margin-top: 6px;
  font-size: 10px;
  line-height: 1.2;
  color: var(--warn-red);
}

.reg-form__input-error_visible {
  display: block;
}

.reg-form__submit {
  margin-top: 155px;
  min-height: 45px;
  font-size: 14px;
  line-height: 1.21;
  color: var(--white);
  background-color: var(--blue);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity .6s;
}

.reg-form__submit:hover {
  opacity: .5;
}

.register__bottom {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0 auto;
  margin-top: 15px;
}

.register__bottom-text {
  margin: 0;
  font-size: 14px;
  line-height: 1.21;
  color: var(--text-grey);
}

.register__bottom-back {
  font-size: 14px;
  line-height: 1.21;
  color: var(--blue);
  text-decoration: none;
  transition: opacity .6s;
}

.register__bottom-back:hover {
  opacity: .5;
}

@media screen and (max-width: 768px) {
  .register {
    padding-top: 230px;
  }

  .reg-form__label:first-of-type {
    margin-top: 5px;
  }

  .reg-form__input {
    padding-top: 3px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 400px) {
  .register {
    padding-top: 55px;
    width: 260px;
    align-items: center;
  }

  .register__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .register__title {
    margin-top: 45px;
    margin-bottom: 73px;
  }

  .reg-form__submit {
    margin-top: 243px;
    font-size: 12px;
    line-height: 1.25;
  }

  .register__bottom-text {
    font-size: 12px;
    line-height: 1.25;
  }

  .register__bottom-back {
    font-size: 12px;
    line-height: 1.25;
  }
  
}