.nav-tab {
  display: flex;
  align-items: center;
}

.nav-tab__link {
  font-size: 14px;
  line-height: 1.29;
  color: var(--black);
  text-decoration: none;
  transition: opacity .6s;
}

.nav-tab__link:hover {
  opacity: .5;
}

.nav-tab__link_signup {
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
}

.nav-tab__link_signin {
  display: block;
  margin-left: 30px;
  padding: 8px 20px;
  width: 76px;
  height: 32px;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 3px;
  box-sizing: border-box;
}

@media screen and (max-width: 400px) {
  .nav-tab__link_signup {
    font-size: 10px;
    line-height: 1.6;
  }
  
  .nav-tab__link_signin {
    margin-left: 15px;
    padding: 5px 12px;
    width: 54px;
    height: 26px;
    font-size: 10px;
    line-height: 1.6;
    box-sizing: border-box;
  } 
}